    /*Installs new font family*/
@font-face {
    font-family: Marvel;
    src: url('./Marvel.TTF');
}

body {
	font-family: Marvel;
}

#bg {
    background: url('../images/backdrop.jpg');
    opacity: 0.4;
    z-index: -5;
    height: 100vh;
}

.no-margin {
	margin: 0;
}

.no-padding {
	padding: 0;
}

.border {
	border: 1px red solid;
}

.panel {
	text-align: center;
	border: red 1px solid;
	font-weight: bold;
}

.welcome {
	background-color: #ff0000  !important;
	color: #fff;
	text-align: center;
}

.welcome h1 {
	letter-spacing: -2px;
	word-spacing: 10px;
}

.hologram {
	width: 250px;
    height: 250px;
    margin: 10px auto 10px auto;
    background-size: 500px;
    background: url(../images/wireFrameHead2.jpg);
    border-radius: 50%;
    background-size: 200px;
    box-shadow: inset 16px 0 40px 6px rgb(0, 0, 0),
    inset -3px 0 6px 2px rgba(255, 255, 255, 0.2);
    animation-name: rotate;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    z-index: -1;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

@keyframes rotate {
  from { background-position-x: 0px; }
  to { background-position-x: 500px; }
}

#faceplusplus {
	height: 10%;
	width: 15%;
}

.profilePics {
	overflow: scroll;
}

.imageToScan {
	width: 100%;
	height: 250px;
	border: 1px solid;
}

#map {
    height: 300px;
}

.controls {
    margin-top: 10px;
    border: 1px solid transparent;
    border-radius: 2px 0 0 2px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    height: 32px;
    outline: none;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
}

#pac-input {
    background-color: #fff;
    font-family: Roboto;
    font-size: 15px;
    font-weight: 300;
    margin-left: 12px;
    padding: 0 11px 0 13px;
    text-overflow: ellipsis;
    width: 300px;
    z-index: 4;
    position: absolute;
    left: 114px;
    top: 1px;
}

#pac-input:focus {
    border-color: #4d90fe;
}

.pac-container {
    font-family: Roboto;
}

#type-selector {
    color: #fff;
    background-color: #4d90fe;
    padding: 5px 11px 0px 11px;
}

#type-selector label {
    font-family: Roboto;
    font-size: 13px;
    font-weight: 300;
}

#target {
    width: 345px;
}