header {
	text-align: center;
}

.jumbotron h1, h4 {
	max-width: 70%;
	margin: 20px 10px 10px 10px;
}

.jumbotron img {
	float: right;
	max-height: 300px;
	max-width: 300px;
	min-height: 80px;
	min-width: 80px;
}

footer{
	text-align: center;
}